code#code {
  display: block;
  margin: 20px; /* Пример отступа для <code> */
  padding: 10px; /* Пример внутреннего отступа для <code> */
  background-color: #f0f0f0; /* Пример фона для <code> */
}

code#code p {
  display: inline;
  margin: 0;
}

/* Стили для ENDMARKER */
.tok_0 {
  color: #000000; /* Черный */
}

/* Стили для NAME */
.tok_1 {
  color: #1c61d1; /* Синий */
}

/* Стили для NUMBER */
.tok_2 {
  color: #008000; /* Зеленый */
}

/* Стили для STRING */
.tok_3 {
  color: #e46b4c; /* Красный */
}

/* Стили для NEWLINE */
.tok_4 {
  color: #800080; /* Фиолетовый */
}

/* Стили для INDENT */
.tok_5 {
  color: #FFA500; /* Оранжевый */
}

/* Стили для DEDENT */
.tok_6 {
  color: #FFFF00; /* Желтый */
}

/* Стили для LPAR */
.tok_7 {
  color: #00FFFF; /* Голубой */
}

/* Стили для RPAR */
.tok_8 {
  color: #FF00FF; /* Розовый */
}

/* Стили для LSQB */
.tok_9 {
  color: #800000; /* Темно-красный */
}

/* Стили для RSQB */
.tok_10 {
  color: #008080; /* Темно-голубой */
}

/* Стили для COLON */
.tok_11 {
  color: #00FF00; /* Лайм */
}

/* Стили для COMMA */
.tok_12 {
  color: #FF00FF; /* Фуксия */
}

/* Стили для SEMI */
.tok_13 {
  color: #808000; /* Оливковый */
}

/* Стили для PLUS */
.tok_14 {
  color: #800080; /* Пурпурный */
}

/* Стили для MINUS */
.tok_15 {
  color: #FFA500; /* Оранжевый */
}

/* Стили для STAR */
.tok_16 {
  color: #FFFF00; /* Желтый */
}

/* Стили для SLASH */
.tok_17 {
  color: #00FFFF; /* Голубой */
}

/* Стили для VBAR */
.tok_18 {
  color: #FF00FF; /* Розовый */
}

/* Стили для AMPER */
.tok_19 {
  color: #800000; /* Темно-красный */
}

/* Стили для LESS */
.tok_20 {
  color: #008080; /* Темно-голубой */
}

/* Стили для GREATER */
.tok_21 {
  color: #00FF00; /* Лайм */
}

/* Стили для EQUAL */
.tok_22 {
  color: #FF00FF; /* Фуксия */
}

/* Стили для DOT */
.tok_23 {
  color: #808000; /* Оливковый */
}

/* Стили для PERCENT */
.tok_24 {
  color: #800080; /* Пурпурный */
}

/* Стили для LBRACE */
.tok_25 {
  color: #FFA500; /* Оранжевый */
}

/* Стили для RBRACE */
.tok_26 {
  color: #FFFF00; /* Желтый */
}

/* Стили для EQEQUAL */
.tok_27 {
  color: #00FFFF; /* Голубой */
}

/* Стили для NOTEQUAL */
.tok_28 {
  color: #FF00FF; /* Розовый */
}

/* Стили для LESSEQUAL */
.tok_29 {
  color: #800000; /* Темно-красный */
}

/* Стили для GREATEREQUAL */
.tok_30 {
  color: #008080; /* Темно-голубой */
}

/* Стили для TILDE */
.tok_31 {
  color: #00FF00; /* Лайм */
}

/* Стили для CIRCUMFLEX */
.tok_32 {
  color: #FF00FF; /* Фуксия */
}

/* Стили для LEFTSHIFT */
.tok_33 {
  color: #808000; /* Оливковый */
}

/* Стили для RIGHTSHIFT */
.tok_34 {
  color: #800080; /* Пурпурный */
}

/* Стили для DOUBLESTAR */
.tok_35 {
  color: #FFA500; /* Оранжевый */
}

/* Стили для PLUSEQUAL */
.tok_36 {
  color: #FFFF00; /* Желтый */
}

/* Стили для MINEQUAL */
.tok_37 {
  color: #00FFFF; /* Голубой */
}

/* Стили для STAREQUAL */
.tok_38 {
  color: #FF00FF; /* Розовый */
}

/* Стили для SLASHEQUAL */
.tok_39 {
  color: #800000; /* Темно-красный */
}

/* Стили для PERCENTEQUAL */
.tok_40 {
  color: #008080; /* Темно-голубой */
}

/* Стили для AMPEREQUAL */
.tok_41 {
  color: #00FF00; /* Лайм */
}

/* Стили для VBAREQUAL */
.tok_42 {
  color: #FF00FF; /* Фуксия */
}

/* Стили для CIRCUMFLEXEQUAL */
.tok_43 {
  color: #808000; /* Оливковый */
}

/* Стили для LEFTSHIFTEQUAL */
.tok_44 {
  color: #800080; /* Пурпурный */
}

/* Стили для RIGHTSHIFTEQUAL */
.tok_45 {
  color: #FFA500; /* Оранжевый */
}

/* Стили для DOUBLESLASH */
.tok_46 {
  color: #FFFF00; /* Желтый */
}

/* Стили для DOUBLESLASHEQUAL */
.tok_47 {
  color: #00FFFF; /* Голубой */
}

/* Стили для AT */
.tok_48 {
  color: #FF00FF; /* Розовый */
}

/* Стили для ATEQUAL */
.tok_49 {
  color: #800000; /* Темно-красный */
}

/* Стили для RARROW */
.tok_50 {
  color: #008080; /* Темно-голубой */
}

/* Стили для ELLIPSIS */
.tok_51 {
  color: #00FF00; /* Лайм */
}

/* Стили для COLONEQUAL */
.tok_52 {
  color: #FF00FF; /* Фуксия */
}

/* Стили для OP */
.tok_53 {
  color: #808000; /* Оливковый */
}

/* Стили для ERRORTOKEN */
.tok_54 {
  color: #800080; /* Пурпурный */
}

/* Стили для N_TOKENS */
.tok_55 {
  color: #FFA500; /* Оранжевый */
}

/* Стили для NT_OFFSET */
.tok_56 {
  color: #FFFF00; /* Желтый */
}

/* Стили для COMMENT */
.tok_57 {
  color: #00FFFF; /* Голубой */
}

/* Стили для ENCODING */
.tok_58 {
  color: #FF00FF; /* Розовый */
}

/* Стили для TYPE_COMMENT */
.tok_59 {
  color: #800000; /* Темно-красный */
}

/* Стили для TYPE_IGNORE */
.tok_60 {
  color: #008080; /* Темно-голубой */
}

.tok_62 {
  color: #008080; /* Темно-голубой */
}
