{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                {% for u in units %}
                  <!-- <li>
                    <a href="/course/{{course.id}}/{{u.id}}" class="nav-link link-body-emphasis">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                      {{u.name}}
                    </a>
                  </li> -->
                  <li>
                    <a href="/course/{{course.id}}/{{u.id}}" class="uk-link-reset nav-link link-body-emphasis">
                      <div class="uk-card uk-card-hover uk-card-large uk-margin uk-flex-center middle_backcolor" style="width: 100%">
                        <p class="be_centered uk-text-large" style="text-decoration: none; text-align: center;">{{u.name}}</p>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1>{{target_unit.name}}</h1>
                <iframe src="{{target_unit.link}}" class="flex-grow-1 ms-3" style="border: none; width: 100%; height: 500px;"></iframe>
        </main>
    </div>
</div>
{% endblock %}
