{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block script %}
{% endblock %}

{% block body %} 
<div class="container text-center col-3 pt-4"  style="margin-top: 80px;">
    <main class="form-signin">
        <form method="POST">
            <img class="mb-4" src="/static/img/1676479214_preview_3732.jpg" alt="" width="40%" height="40%">
            <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите в систему</h1>
        
            <div class="form-floating">
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                <label for="floatingInput">Почта</label>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                <label for="floatingPassword">Пароль</label>
            </div>
            {% if msg != "" %}
                <p style="color: red;">{{msg}}</p>
            {% endif %}
            <button class="w-100 btn btn-lg btn-secondary mt-2" type="submit">Войти</button>
        </form>
    </main> 
</div>
{% endblock %}