{% extends "base.html" %}

{% block title %}
Статьи
{% endblock %}

{% block body %}
<div class="container w-75 pt-5">
    <h1 class="mt-2" align="center" style="font-size: 10%;">Все статьи на сайте!</h1>
    {% for table in tables %}
        <div class="alert alert-info">
            <h1 style="color: #000;">{{table['name']}}<img align="right" height="12%" width="13%" src="static/img/posts_img/{{table.filename}}"></h1> 
            <p style="color:#000"><a href="posts/{{table['id']}}" class="btn btn-info">Подробнее</a>  Дата: нет</p>
        </div>
    {% endfor %}
</div>
{% endblock %}