{% extends "base.html" %}

{% block title %}
Пост
{% endblock %}

{% block script %}
<script src="../static/forum.js"></script>
{% endblock %}

<!-- приветствую тебя, дорогой Михаил -->

{% block body %}
<!-- надеюсь, ты не сильно разозлишься из-за style в body.... -->
<!-- но если что, заранее прости -->

<link rel="stylesheet" href="../static/css/code_style.css">

<div class="post_detail pt-1">
  <div class="container w-100 mt-5 mb-4">
      <div class="container w-50 mt-5">
          <table class="table table-bordered">  
              <tbody>
              <tr>    
                  <td colspan="2"><h1 align="center">{{table.name}}</h1></td>
              </tr>
              </tbody>
          </table>
      </div>
      {{table_text | safe}}
    {% if table.video_link != "" %}
      <iframe width="720" height="405"
      src="https://rutube.ru/play/embed/{{table.video_link}}" frameBorder="0" allow="clipboard-write; autoplay"
      webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    {% endif %}
    <h3>Дата: {{table.date}}</h3>
    {% if is_author %}
        <a class="btn btn-success" href="{{table.id}}/update">Редактировать</a>
        <a class="btn btn-danger" href="{{table.id}}/delete">Удалить</a>
    {% endif %}
  </div>
  <div id="chatinfodiv37" style="display: none; visibility: hidden;">{{table.id}}</div>
  {% if current_user.is_authenticated %}
    <div class="container w-75 mt-5" id="send_message_div">
      <label>Напишите комментарий к статье</label>
      <textarea type="text" name="comment_text" id="send_message_input" class="form-control" rows="3"></textarea>
      <button onclick="send_message()" class="btn btn-outline-dark m-2">Отправить</button>
      <!-- <input type="text" value="" id="send_message_input" placeholder="Введите сообщение">
      <button onclick="send_message()" class="btn btn-outline-success"></button> -->
    </div>
  {% else %}
    <h1 align="center">Войдите в аккаунт, чтобы писать комментарии</h1>
  {% endif %}
  <div id="chatdiv37">
    {{forum|safe}}
    <!-- тут с помощью js вставится чат когда я это доделаю -->
  </div>
    <script src="/static/forum.js"></script>
</div>
{% endblock %}

