{% extends "base.html" %}
{% block title %}
Личный кабинет
{% endblock %}
{% block body %}
<div class="container pt-4 w-75">
  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-body text-center">
              <img src="/static/img/avatars/{{user.avatar}}" alt="avatar" style="width: 50%;">
              <h4 class="my-3">{{user.login}}
              </h4>
              <div class="d-flex justify-content-center mb-2">
                <a type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-secondary">Редактировать
                </a>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <a type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-secondary">Узнать о программе
                </a>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <a type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-secondary">Поддержка
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Имя
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.name}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Фамилия
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.surname}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Отчество
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.patronymic}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Логин
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.login}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Класс
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.class_number}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email
                  </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}
                  </p>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="graph-calendar" align="center">
      <html>
        <head>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
          </script>
          <script type="text/javascript">
            google.charts.load("current", {
              packages:["calendar"]}
                              );
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var dataTable = new google.visualization.DataTable();
              dataTable.addColumn({
                type: 'date', id: 'Date' }
                                 );
              dataTable.addColumn({
                type: 'number', id: 'Won/Loss' }
                                 );
              dataTable.addRows([
                [ new Date(2025, 0, 12), 5 ],
                [ new Date(2025, 0, 14), 7 ],
                [ new Date(2025, 0, 5), 2 ],
                [ new Date(2025, 0, 2), 3 ],
                [ new Date(2025, 0, 17), 10 ],
              ]);
              var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));
              var options = {
                height: 350,
                legend: 'none',
                calendar: {
                  daysOfWeek: ' П С П ',
                },
                colorAxis: {
                  textPosition: 'none',
                  minValue: 0
                }
              };
              chart.draw(dataTable, options);
            }
          </script>
        </head>
        <body>
          <div id="calendar_basic" style="width: 1000px; height: 350px;">
          </div>
        </body>
      </html>
    </div>
    <div class="graph-stats" align="center">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
      </script>
      <script type="text/javascript">
        google.charts.load('current', {
          'packages':['bar']}
                          );
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Задание', 'Верно', 'Неправильно'],
            ['1', 1000, 400],
            ['2', 1170, 460],
            ['3', 660, 1120],
            ['4', 1030, 540]
          ]);
          var options = {
            backgroundColor: 'transparent'
          };
          var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
      </script>
      <body>
        <div id="columnchart_material" style="width: 70%; height: 100%;">
        </div>
      </body>
    </div>
  </section>
</div>
{% endblock %}
