{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}    
<div class="container">
   <div class="row"> <!-- Устанавливаем высоту для всей строки -->
        <div class="col-2" style="overflow-y: auto; height: 98vh;"> <!-- Добавляем прокрутку для левой колонки -->
            <form method="POST">
                <div class="flex-shrink-0 pt-2">
                    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold ms-4"><h2>Фильтры</h2></span>
                    </a>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">   
                            <button style="width: 90%;" type="button" class="btn btn-outline-dark align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#number_tasks-collapse" aria-expanded="true">
                                Выбрать задания
                            </button>
                            <div class="collapse" id="number_tasks-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal mt-1 small">
                                    {% for i in range(1, 28) %}
                                    <li class="ms-3">
                                        <div class="checkbox-wrapper-21">
                                            <label class="control control--checkbox">
                                                {{i}}
                                                <input type="checkbox" name="checkbox_task_{{i}}" id="checkbox_task_{{i}}" {% if checkbox_task_checked[i] %}checked{% endif %}/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </li>                  
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button style="width: 90%;" type="button" class="btn btn-outline-dark align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#difficulty-collapse" aria-expanded="true">
                              Cложность
                            </button>
                            <div class="collapse" id="difficulty-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal mt-1 small">
                                    {% for i in range(3) %}
                                        <li class="ms-3">
                                            <div class="checkbox-wrapper-21">
                                                <label class="control control--checkbox">
                                                    {% if i == 0 %}Легкая{% endif %}
                                                    {% if i == 1 %}Нормальная{% endif %}
                                                    {% if i == 2 %}Сложная{% endif %}
                                                    <input type="checkbox" name="difficulty_{{i}}" id="difficulty_{{i}}" {% if checkbox_difficulty_checked[i] %}checked{% endif %}/>
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </li> 
                                    {% endfor %}
                                </ul>
                            </div>
                          </li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-outline-success" style="width: 90%;">Применить</button> 
                <button type="button" class="btn btn-outline-danger mt-4" onclick="checkAllResponses();" style="width: 90%;">Проверить задания</button>
            </form>
        </div>
        <div class="col-sm-10" style="overflow-y: auto; height: 100vh;"> <!-- Добавляем прокрутку для правой колонки -->
            <h1 align="center" class="pt-2 pb-2">Задачи ЕГЭ</h1>
            {% for task, tags_for_task in tasks %}
                <div class="task-item border rounded p-3 mb-3">
                    <p>({{task["source"]}}) №{{task["number"]}} {{task["statement"]}}</p>
                    {% if task.file_name == None %}
                    {% elif task.file_name[-3:] == "png" or task.file_name[-3:] == "jpg" %}
                        <img src="/static/img/{{task.file_name}}" class="img-fluid m-2" alt="..." width="40%">
                    {% elif task.file_name[-3:] == "txt" or task.file_name[-3:] == "xls" or task.file_name[-4:] == "xlsx" %}
                        <a href="/static/img/{{task.file_name}}" style="color:black" download>Скачать файл</a>
                    {% endif %}
                    <p>
                        {% for tag in tags_for_task %}
                            #{{tag}}
                        {% endfor %}  
                    </p>
                    <div class="row">
                        <div id="FORM_div">
                            <form id="responseForm_{{task.id}}" data-answer="{{task.answer}}" onsubmit="return handleSubmit(event, '{{task.id}}', '{{task.answer}}');">
                                <input type="text" name="userResponse_{{task.id}}" id="userResponse_{{task.id}}" placeholder="Введите ответ">
                                <button type="submit" class="btn btn-outline-dark">Проверить</button>
                                <button type="button" class="btn btn-outline-dark" onclick="toggleAnswer('answer_{{task.id}}')" style="width: 15%;">Показать ответ</button>
                            </form>   
                        </div>
                        <div id="result_{{task.id}}" class="result"></div>
                        <div id="answer_{{task.id}}" class="answer" style="width: 4%;">{{ task.answer }}</div>
                    </div>
                </div>
                <br>
            {% endfor %}
            <button type="button" class="btn btn-outline-dark mb-3" onclick="checkAllResponses();">Проверить все</button>
        </div>
   </div>
</div>
<script>
    // Функция для обработки отправки формы
    function handleSubmit(event, taskId, taskAnswer) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы

        const userResponse = document.getElementById(`userResponse_${taskId}`).value;
        const resultDiv = document.getElementById(`result_${taskId}`);
        const inputField = document.getElementById(`userResponse_${taskId}`);

        // Отправка данных на сервер
        fetch('/check_answer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                task_id: taskId,
                user_response: userResponse,
                task_answer: taskAnswer
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                // Проверка ответа
                if (userResponse.trim().toLowerCase() === taskAnswer.toLowerCase()) {
                    resultDiv.innerText = "Ответ верный!";
                    resultDiv.style.color = "green";
                    inputField.style.backgroundColor = "lightgreen";
                } else {
                    resultDiv.innerText = "Ответ неверный. Попробуйте еще раз.";
                    resultDiv.style.color = "red";
                    inputField.style.backgroundColor = "lightcoral";
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });

        return false; // Возвращаем false, чтобы предотвратить перезагрузку страницы
    }

    function toggleAnswer(answerId) {
        const answerDiv = document.getElementById(answerId);
        if (answerDiv.style.display === "none" || answerDiv.style.display === "") {
            answerDiv.style.display = "block"; // Показываем ответ
        } else {
            answerDiv.style.display = "none"; // Скрываем ответ
        }
    }

    // Функция для проверки всех ответов
    function checkAllResponses() {
        const forms = document.querySelectorAll('form');

        if (forms.length === 0) {
            alert("Формы не найдены!"); // Сообщение об ошибке
            return; // Выход из функции, если формы не найдены
        }

        forms.forEach(form => {
            const taskId = form.id.split('_')[1]; // Получаем номер задачи
            const userResponse = document.getElementById(`userResponse_${taskId}`);
            const resultDiv = document.getElementById(`result_${taskId}`);
            const taskAnswer = form.getAttribute('data-answer');

            if (!userResponse || !resultDiv) {
                console.error(`Элементы для задачи №${taskId} не найдены!`); // Сообщение об ошибке
                return; // Выход из цикла, если элементы не найдены
            }

            console.log(`Задача №${taskId} - Пользовательский ответ: ${userResponse.value}, Правильный ответ: ${taskAnswer}`);

            // Отправка данных на сервер
            fetch('/check_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    task_id: taskId,
                    user_response: userResponse.value,
                    task_answer: taskAnswer
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    if (userResponse.value.trim().toLowerCase() === taskAnswer.toLowerCase()) {
                        resultDiv.innerText = "Ответ верный!";
                        resultDiv.style.color = "green";
                        userResponse.style.backgroundColor = "lightgreen";
                    } else {
                        resultDiv.innerText = "Ответ неверный. Попробуйте еще раз.";
                        resultDiv.style.color = "red";
                        userResponse.style.backgroundColor = "lightcoral";
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        window.scrollTo({ top: 0, behavior: 'smooth' });
        return;
    }

    function downloadFile(filename) {
        // Создаем ссылку для скачивания
        const link = document.createElement('a');
        link.href = `/download/${filename}`;
        link.download = filename; // Указываем имя файла для скачивания
        document.body.appendChild(link);
        link.click(); // Программно кликаем по ссылке
        document.body.removeChild(link); // Удаляем ссылку из документа
    }
</script>
{% endblock %}
